# Salin file ini ke .env.local dan isi dari Supabase Project Settings > API
VITE_SUPABASE_URL=https://dwhjczylydkesgqtskxt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YoQ3fq-Py9JkIRxhBE0ljA_1DaEnnyO